@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=Roboto&display=swap');
/* change scroll color on Firefox */
head, html, body {
  overflow: auto;
  scrollbar-color: #6272a4 #282a36;
  padding:0;
  margin:0;
}
#konamiDisplay {
  display: none;
  background-image: url("src/rainbow.gif");
  border-radius: 20000px;
}

h1, .h1 {
  font-size: 3.3rem;
  font-family: 'Inconsolata', monospace;
  font-weight: 500;
}
p, h2, h3, h4, h5, h6, .p, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}


.bg-dark {
  background-color: #282a36 !important;
}
.bg-secondary {
  background-color: #44475a !important;
}
.bg-secondary .card-header {
  background-color: #6272a4 !important;
}
.text-dark, .btn-outline-primary:hover {
    color: #282a36 !important;
}
.text-light {
    color: #f8f8f2 !important;
}
.text-danger {
    color: #ff5555 !important;
}
.text-warning {
    color: #f1fa8c !important;
}
.text-success {
    color: #50fa7b !important;
}
.link-primary {
  color: #8be9fd;
}
.link-primary:hover, .link-primary:visited {
  color: #6272a4;
}
.btn-outline-primary {
  color: #8be9fd;
  border-color: #8be9fd;
}

.btn-outline-primary:hover {
  background-color: #8be9fd;
  border-color: #8be9fd;
}

.cursor-pointer{
  cursor: pointer;
}

.bg-white{
  background-color: #f8f8f2 !important;
}

.border-white{
  background-color: #f8f8f2 !important;
}

.emoji{
  height: 15px;
}
.card-img{
 max-height: 100px;
 max-width: -webkit-fill-available;
 max-width: -moz-available;
 width: auto;
 border-radius: 4px;

}

.bar{
background-color: #ff79c6;
border-radius: 12px;
height: 6px;
margin: auto;
}


.bar-danger{
  background-color: #ff79c6;
}

.bar-info{
  background-color: #8be9fd;
}

.nav-links img{
border-radius: 200px;
margin-right: 0.6rem;
height: 3.3rem;
}

.nav-links img:hover{
background-color: #6272a4;
border-radius: 400px;
}

.decoration-none {
  text-decoration: none;
}

.text-superbig {
  font-size: 10rem;
}

/* all sizes smaller than Bootstrap lg */
@media only screen and (max-width: 991px) {
.nav-links-col {
  justify-content: center !important;
  }
}

.codersrank-widget {
--bg-color: #44475a;
--header-bg-color: #44475a;
--badge-bg-color: #44475a;
--badge-text-color: #f8f8f2;
}
