body, ul, h1, p, a, li, footer, img, h2, h3, h4, h5, h6 {
    text-decoration:none;
    margin: 0;
    padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    color: #ffffff;
    font-family: 'Inconsolata', 'Times New Roman';
    font-weight: bold;
}

body {
    max-width: 100vw;
    background-color: #111;
}

.info-box{
    padding: 5vh 20vw 8vh 15vw;
    font-size: 1.5em;
}

#particles-js {
    background-color: #247b8e;
    background-size: cover;
    background-position: 50% 50%;
    height: 100vh;
}

ul {
    margin-top: 5vh;
    margin-left: 1vw;
    line-height: 1.3em;
}

h1 {
    font-size: 3.4em;
}

p {
    margin-top: 7px;
    margin-left: 5px;
}

footer img {
height: 10vh;
position: fixed;
bottom: 30px;
}

footer a {
    margin: 64px;
}

@media only screen and (max-width: 1000px) {

    .background {
        background-position: bottom;
        opacity: 0.4;
    }
    .info-box {
        font-size: 1.4em;
        padding-left: 10vw;
        padding-right: 10vw;
        width: 80vw;
    }

    footer {
        position: unset;
        padding-left: 0px;
        display: flex;
        justify-content: center;
        align-content: flex-end;
    }
}